*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Moul';
     
 }
 
 body{
     background-color:#a1c349ff;
 
 }
 nav{
     background-color:#cad593ff;
     display: flex;
     justify-content: center;
 
     
     
 }
 .contenedor{
    
     position: sticky;
     top: 0;
 }
 
 
 nav .navegación li{
     display: inline-block;
     justify-content:center;
     background-color: #cad593ff;
     padding: 0 40px;
     list-style: none;
     font-family: 'Moul';
     position: sticky;
     
 }
 nav a{
     text-decoration: none;
     color: #243010ff;
     display: block;
     padding: 10px;
    
 }
 
     
 
 
 
 .navegación  a:hover{
     background-color:#ffffb3ff;
     transform: scale(1.1);
     transition: 0.2s;
     border-radius: 10px;
     content: 5px 20px;
     
     
 }
 
 header #titulo{
     background-color: #243010ff;
     display: flex;
     justify-content: center;
     color: antiquewhite;
     height: 100px;
     transition: 0.2s;
 }

/*CARDS DE PRESENTACION*/

.cards-grid {
    display: flex;
    justify-content: center;
    grid-gap: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px ;
}


.flip-card {
    width: 320px;
    height: 504px;
    perspective: 2000px;
    display: flex;
    justify-content: center;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
    }

.flip-card-front, .flip-card-back{
       position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 28px;
        backface-visibility: hidden;
    }

.flip-card-front{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

.flip-card-back{
        font-size: 1.25rem;
        text-align: center;
        display: grid;
        place-items: center;
        padding: 32px;
        background-color: #b1cfc8;
        transform: rotateY(-180deg);
    }

.flip-card:hover .flip-card-inner{
        transform: rotateY(-180deg);
    }


/*FOMURLARIO*/

.form-register {
  width: 800px;
  height: 550px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.footer{
    background-color:#243010ff;
    padding: 20px;
   
    
}
.footer .footer_items{
   color: bisque;
   display: flex;
   justify-content:center;
   font-size: 30px;
   

}
.footer .footer_items li{
    list-style: none;
    display: inline-block;
    justify-content: center;
    margin: 10px;
}
.footer .footer_items li:hover{
   color: rgba(253, 208, 153, 0.43);
   transform: rotate(15deg);
}

 
