@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Moul&display=swap"); 
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Hammersmith One";
}

body {
  background-color: #a1c349ff;
  width: 100vw;
  font-weight: "Hammersmith One";
  letter-spacing: 0.03;
  line-height: 1.6;
}
.title {
  text-align: center;
  font-size: 40px;
  color: #000;
  margin-top: 100px;
  font-weight: 100;
}
/*HEADER*/
header {
  /* width: 100vw; */
  margin-bottom: -7px;
}
header #titulo {
  background-color: #243010ff;
  display: flex;
  justify-content: center;
  color: antiquewhite;
  height: 100px;
  transition: 0.2s;
}
/*NAV*/
.contenedor {
  position: sticky;
  top: 0;
}

nav {
  background-color: #cad593ff;
  display: flex;
  justify-content: center;
}

nav .navegación li {
  display: inline-block;
  justify-content: center;
  background-color: #cad593ff;
  padding: 0 40px;
  list-style: none;
  font-family: "Moul";
  position: sticky;
}
nav a {
  text-decoration: none;
  color: #243010ff;
  display: block;
  padding: 10px;
}

.navegación a:hover {
  background-color: #ffffb3ff;
  transform: scale(1.1);
  transition: 0.2s;
  border-radius: 10px;
  content: 5px 20px;
}

/*MAIN*/
.main {
  width: 100vw;
}

/* .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 1100px;
} */
.img {
  height: 250px;
  width: 250px;
  align-self: center;
  padding-top: 5px;
}
 .cardCss{
  width: 18rem; 
  background-color:#32cd32;
  
 }
 .cardCss:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
 }
 .text-card{
  /* background-color: aquamarine;
  background-image: url(/Shrekpage/imagenes/shrek\ icon.png) ; */
 } 
 .titulo{
  font-size: 5rem;
  font-family: "Hammersmith One";
 }
 .footer{
  background-color:#243010ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
 
  
}
.footer .footer_items{
 color: bisque;
 display: flex;
 justify-content:center;
 font-size: 30px;
 

}
.footer .footer_items li{
  list-style: none;
  display: inline-block;
  justify-content: center;
  margin: 10px;
}
.footer .footer_items li:hover{
 color: rgba(253, 208, 153, 0.43);
 transform: rotate(15deg);
}
.footer .copyrigh{
  diplay: flex; 
  justify-content: center;
  color: bisque;
}
